<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojodachi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=~/css/site.css>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
    @model Pet;
    <h3>Michael-Gatchi</h3>
    <div class = "container">
        <div class = "row">
            <div class = "col">
                <p>Fullness: @Model.Fullness</p>
            </div>
            <div class = "col">
                <p>Happiness: @Model.Happiness</p>
            </div>
            <div class = "col">
                <p>Meals: @Model.Meals</p>
            </div>
            <div class = "col">
                <p>Energy: @Model.Energy</p>
            </div>
            <form class = "restart" action = "/">
                <button type="submit" class="btn btn-danger">Restart</button>
            </form>
        </div>
    </div>
    <input type="hidden" id="picVal" data-value="@ViewBag.Picture">
    <script>
        $(document).ready(function() {
            var picValue = $('#picVal').data("value");
            var picURL = `images/michael${picValue}.gif`
            $('#picId').attr('src', picURL);
        });

    </script>
    <div class = "yachi">
        <div class = "container">
            <img id="picId" src="" alt="ASP.NET" class="img-responsive"/>            
            <p>@ViewBag.Message</p>
        </div>
    </div>
    <div class = "container">
        @if(ViewBag.Status == 0) {
            <table>
                <td>
                    <form action = "feed" method = "post">
                        <button type="submit" class="btn btn-primary">Feed</button>
                    </form>
                </td>
                <td>
                    <form action = "play" method = "post">
                        <button type="submit" class="btn btn-success">Play</button>
                    </form>
                </td>
                <td>
                    <form action = "work" method = "post">
                        <button type="submit" class="btn btn-light">Work</button>
                    </form>
                </td>
                <td>
                    <form action = "sleep" method = "post">
                        <button type="submit" class="btn btn-danger">Sleep</button>
                    </form>
                </td>
                
            </table>
        
        }
        @if(ViewBag.Status == 1) {
            <form action = "/">
                <button type="submit" class="btn btn-success">Restart</button>
            </form>
        }
    </div>
    
</body>
</html>